
/* mobile*/
.NavigationItems {
    margin: 0;
    padding:0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-content: center;
    height: 100%;
}

@media (min-width:500px) { /* example desktop*/
    .NavigationItems { 
        flex-flow: row
    }
}